spring:
  datasource:
    url: jdbc:mysql://localhost:3306/student_management_system
    username: intellij
    password: intellijPassword
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  jackson:
    serialization:
      fail-on-empty-beans: false

server:
  port: 8080
